<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <!-- '切り替え: css/bmesse.css' or 'css/bmesse2.css'-->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/bmesse2.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>お絵かきチャット</title>
  </head>

  <body>


    <!-- <textarea id="chat-log" cols="100" rows="10"></textarea><br /> -->

    <div id="container">
      <div id="itemA">A</div>
      <div id="itemB">B</div>
      <div id="itemC">
        <!-- ヘッダー部分② -->
        <div id="bms_chat_header">
          <!--ステータス-->
          <div id="bms_chat_user_status">
            <!--ステータスアイコン-->
            <div id="bms_status_icon">🔽</div>
            <!--ユーザー名-->
            <!-- <div id="bms_chat_user_name">general</div>-->
            <!--<textarea name="" id="jsi-name" cols="10" rows="1"></textarea>-->
            <div name="" id="jsi-name"></div>
          </div>
        </div>

        <!-- タイムライン部分③ -->
        <div id="bms_messages">
          <ul id="jsi-board" style="list-style: none;">
            <!--<ul id="jsi-board">-->
          </ul>
        </div>

        <!-- テキストボックス、送信ボタン④ -->
        <div id="bms_send">
          <!-- <textarea id="bms_send_message"></textarea>-->
          <textarea name="" id="jsi-msg" cols="95" rows="2"></textarea>

          <label for="file_upload">
            画像
            <input type="file" id="file_upload" />
          </label>
          <button id="bms_pic_btn">
            絵
          </button>
          <form action="{% url 'sendMessage' %}" method="post">
            {% csrf_token %}
            <!-- <div id="bms_send_btn"> -->
              <div name="button" id="bms_send_btn">送信</div>
            <!-- </div> -->
          </form>
          <!--   <a href="a2.html" id="bms_pic_btn">画像</a> -->
          <!--</div>-->
        </div>
      </div>
    </div>
  </body>

  <script>
    var roomName = {{ room_name_json }};
  </script>
  <script src="{% static 'js/room.js' %}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</html>
