<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/bmesse.css' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>お絵かきチャット</title>
  </head>

  <body>
    <style>
      /* ul > li:first-child {
        color: black;
        font-size: 25px;
        float: left;
        line-height: 1.3em;
      }
      ul > li:nth-child(2n) {
        background: #fff;
        border: 2px solid #13178e;
        color: blue;
        margin-right: 50px;
        word-wrap: break-word;
        white-space: normal;
        padding: 0 14px;
        margin: 10px 0;
      }
      ul > li:nth-child(2n):before {
        content: "user：";
      } */
    </style>

    <!-- <textarea id="chat-log" cols="90" rows="10"></textarea><br /> -->

    <div id="container">
      <div id="itemA">A</div>
      <div id="itemB">B</div>
      <div id="itemC">
        <!-- ヘッダー部分② -->
        <div id="bms_chat_header">
          <!--ステータス-->
          <div id="bms_chat_user_status">
            <!--ステータスアイコン-->
            <div id="bms_status_icon">🔽</div>
            <!--ユーザー名-->
            <!-- <div id="bms_chat_user_name">general</div>-->
            <!--<textarea name="" id="jsi-name" cols="900" rows="1"></textarea>-->
            <div name="" id="jsi-name"></div>
          </div>
        </div>

        <!-- タイムライン部分③ -->
        <div id="bms_messages">
          <ul id="jsi-board" style="list-style: none;">
            <!--<ul id="jsi-board">-->
          </ul>
        </div>

        <!-- テキストボックス、送信ボタン④ -->
        <div id="bms_send">
          <!-- <textarea id="bms_send_message"></textarea>-->
          <textarea name="" id="jsi-msg" cols="" rows=""></textarea>



           <div id="bms_pic_btn">
             絵
           </div>
 
           <label for="file_upload" class="bms_fil_btn">
             画像
             <input type="file" id="file_upload"/>
           </label>

          <form action="{% url 'sendMessage' %}" method="post">
             {% csrf_token %}
             <div id="bms_send_btn">
               <div name="button" id="jsi-button">送信</div>
             </div>
           </form>



        </div>


      </div>
    </div>
  </body>

  <script>
    var roomName = {{ room_name_json }};
  </script>
  <script src="{% static 'js/room.js' %}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</html>
