<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/colorjoe@4.1.1/css/colorjoe.min.css"
    />    <!-- colorjoeのcssをダウンロード-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}">

  </head>
  <body>
    <div id="all-container">
      <div id="left">

        <div>
          <button id="clear-button" class="menu">
            <i class="fas fa-times-circle"></i> clear
          </button>
        </div>

      <span id="layerd-canvas-area">
        <canvas
          id="draw-area"
          width="520px"
          height="300px"
          style="border: 3px solid #1B8EC0; position: absolute;"
        ></canvas>
        <canvas
          id="line-width-indicator"
          width="520px"
          height="300px"
          style="border: 3px solid #1B8EC0;"
        ></canvas>
      </span>

        <!-- <p>
            <input type="button" id="download" value="送信" onclick="sendBase64ToDjango">
            <i class="fas fa-backward fa-flip-horizontal"></i>
        </p> -->
        <form action="{% url 'receiveAndSendJPG' %}" method="post">
            {% csrf_token %}
            <div id="download">
                <i class="fas fa-backward fa-flip-horizontal"></i>  送信
            </div>
        </form>
      </div>

      <div id="right">
        <!-- 切り替えボタン -->
        <div class="toggle-button-cover">
          <div class="button b2" id="button-10">
            <input type="checkbox" class="checkbox" id="switch_pen_eraser">
            <div class="knobs">
              <span><img border="0" src="{% static 'icon/pen.png' %}" width="40" height="40" alt="イラスト1"></span>
            </div>
            <div class="layer"></div>
          </div>
        </div>
        <!--  -->
        <div>
          <div>
            太さ
            <span id="line-width">5</span>
          </div>
          <input
            id="range-selector"
            type="range"
            value="5"
            min="1"
            max="50"
            step="0.1"
          />

          <input
            id="line-width-number-field"
            type="number"
            value="5"
            min="1"
            max="50"
            step="0.1"
          />
        </div>
        <div id=color-palette-div>
          <span id="color-palette"></span>
        </div>
        <!-- <div>
          <button id="eraser-button" class="menu">消しゴムモード</button>
        </div> -->

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/colorjoe@4/dist/colorjoe.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/canvas.js' %}"></script>
  </body>
</html>
